@model SensenbrennerHospital.Models.VolunteerPositionDto
@{
    ViewBag.Title = "Delete Volunteer Position";
}

<div class="viewContainer">
    <h2 class="viewTitle">Delete Volunteer Position</h2>

    <h3 class="formTitle">Are you sure you want to delete this Volunteer Position?</h3>
    <div>
        <dl class="customDL">

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "VolunteerPosition", new { id = Model.CvpID }))
        {
            @Html.AntiForgeryToken()

            <div class="options1">
                <span class="editlink"><input type="submit" value="Delete" class="btn-danger btn"/></span>
                <span class="editlink"> @Html.ActionLink("Back to List", "List")</span>
            </div>
        }
    </div>
</div>