/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Table of Contents */
/* Google Font */
/* 1. Global Chnages */
/* 2. Header */
/* 3. Main */
/* 4. Footer */


/* Google Font */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300&display=swap"); */

/* Global Chnages */
html {
    box-sizing: border-box;
    max-width: 1800px;
    margin: auto;
    font-size: 1.3em;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: white;
    font: normal 1em/1.2 'Verdana', 'sans-serif';
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1.3em;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #113573;
    font-weight: bold;
}

p {
    font-size: larger;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

section {
    padding: 5vh 0;
}

/* Nav */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    margin: 0;
}

#mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 77%;
    align-items: center;
}

#mainMenu li {
    flex: 1 0 0;
    margin-left: 20px;
    text-align: center;
}

#mainMenu a:hover {
    color: #E1A500;
    border-bottom: 2px solid;
}

/* Header */
header {
    background-image: url(./Images/headerImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 800px;
    padding-bottom: 5%;
}

.updates {
    background-color: #ffffffbd;
    padding-bottom: 3em;
    text-align: center;
}

h1 {
    margin-top: 10%;
    color: #1030AD;
    margin-bottom: 2%;
    padding-top: 0.5em;
    font: normal 1em/1.2 'Verdana', 'sans-serif';
    font-size: 4em;
    font-weight: 600;
}


.headerWrapper {
    display: flex;
    flex-flow: column nowrap;
}

.signInContainer {
    order: -2;
    font-size: 0.7em;
    align-self: flex-end;
    padding: 1em 0;
    margin-right: -20px;
}

.signInContainer a {
    color: #E1A500;
    margin-right: 1em;
}


/* Section 1 */
.linkCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linkCardsContainer a {
    color: black;
}

.linkCard {
    background-color: #A3C9E0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 17em;
    height: 17em;
    margin-right: 1em;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 2em;
}

.linkIcon {
    font-size: 7em;
    color: #1130AD;
}

.linkCard h3 {
    font-size: x-large;
}

/* Section 2 */
.customCarouselContainer {
    background-color: #A3C9E0;
    display: flex;
    flex-flow: row wrap;
    padding: 0 2em;
    color: #1030AD;
}

.customCarousel {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.customCarousel h2 {
    text-align: center;
    flex: 1 0 100%;
    font-size: 3rem;
    margin-bottom: 0;
}

.carouselInnerContent {
    width: 80%;
}

.customCarousel h3 {
    font-size: 1.6rem;
    margin: 0.9em 0;
}

.customCarousel p {
    line-height: 1.5em;
    color: black;
}

.carouselArrow {
    font-size: 60px;
    cursor: pointer;
}

/* Section 3 */
.section3 {
    background-image: url(./Images/appointmentImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center;
}

.text1 {
    background: #ffffffbd;
    width: 22em;
    height: 22em;
    text-align: center;
    padding-top: 4em;
    border-radius: 3em;
    color: #113573;
}

.linkAsButton {
    color: white;
    background: #113573;
    padding: 0.5em 2em;
    font-size: 1.5em;
    border-radius: 0.5em;
}

/* Section 4 */

.section4 {
    padding: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    .section4 h3 {
        font-size: 2em;
        width: 54%;
    }

/* Footer */

footer {
    background-color: #113573;
    color: white;
    display: flex;
    flex-flow: row wrap;
    padding: 1em 1em 0 1em;
    align-items: center;
}

.footerLinksContainer {
    flex: 1 0 0;
}

.footerMenu {
    display: flex;
    flex-flow: row wrap;
    margin-left: 1.2em;
}

.footerMenu li {
    flex: 2 0 50%;
    margin-top: 3.5em;
    border-bottom: 3px solid #E1A500;
    padding-bottom: 1em;
}

.footerMenu li:nth-child(2n + 1) {
    width: 5em;
    /*margin-left: 10px;*/
}

.footerMenu li:nth-child(2n) {
    text-align: right;
    padding-right: 2em;
}

.footerExtraInfo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
    padding-top: 2em;
    padding-left: 4em;
}

.footerExtraInfo a {
    text-align: center;
    margin-top: 12px;
}

footer a {
    color: white;
}

footer img {
    background-color: white;
    padding: 0.8em;
    width: 80%;
}

#copyright {
    padding: 1.5em 0 2em 8em;
    border-top: solid 2px #FFA500;
    flex: 1 0 100%;
    margin: 4em -1.6em 0 -1.6em;
    font-size: .6em;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    html {
        width: 154%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    html {
        width: 270%;
    }
}
