@model SensenbrennerHospital.Models.VolunteerDto
@{
    ViewBag.Title = "Delete Volunteer";
}

<div class="viewContainer">
    <h2 class="viewTitle">Delete Volunteer</h2>

    <h3 class="formTitle">Are you sure you want to delete this volunteer?</h3>
    <div>
        <dl class="customDL">

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "Volunteer", new { id = Model.VolunteerID }))
        {
            @Html.AntiForgeryToken()

            <div class="options1">
                <span class="editlink"><input type="submit" value="Delete" class="btn btn-danger" /></span>
                <span class="editlink"> @Html.ActionLink("Back to List", "List")</span>
            </div>
        }
    </div>
</div>