@{
    ViewBag.Title = "Home Page";
}


<!-- Section 1 -->
<section class="linkCardsContainer wrapper">
    <div class="linkCard">
        <span class="fas fa-plus linkIcon"></span>
        <h3><a href="#">Doctors Office</a></h3>
    </div>
    <div class="linkCard">
        <span class="fas fa-map-marker-alt linkIcon"></span>
        <h3><a href="#">Directions & Hospital Map</a></h3>
    </div>
    <div class="linkCard">
        <span class="fas fa-user linkIcon"></span>
        <h3><a href="#">Visitor Information</a></h3>
    </div>
    <div class="linkCard">
        <span class="fas fa-building linkIcon"></span>
        <h3><a href="#">Departments</a></h3>
    </div>
    <div class="linkCard">
        <span class="fas fa-briefcase linkIcon"></span>
        <h3 class="lastTwo"><a href="#">Careers</a></h3>
    </div>
    <div class="linkCard">
        <span class="fas fa-info-circle linkIcon"></span>
        <h3 class="lastTwo"><a href="#">FAQ</a></h3>
    </div>
</section>

<!-- Section 2 -->
<section class="customCarouselContainer">
    <div class="customCarousel wrapper">
        <h2>A Note from Sensenbrenner</h2>
        <span class="fas fa-chevron-left carouselArrow"></span>
        <div class="carouselInnerContent">
            <h3>Latest blog posts</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officiis earum commodi? Amet explicabo reprehenderit, cum molestias quidem pariatur quae culpa hic eum consequatur delectus ipsam quo repudiandae fugit perspiciatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officiis earum commodi? Amet explicabo reprehenderit, cum molestias quidem pariatur quae culpa hic eum consequatur delectus ipsam quo repudiandae fugit perspiciatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officiis earum commodi? Amet explicabo reprehenderit, cum molestias quidem pariatur quae culpa hic eum consequatur delectus ipsam quo repudiandae fugit perspiciatis.</p>
        </div>
        <span class="fas fa-chevron-right carouselArrow"></span>
    </div>
</section>

<!-- Section 3 -->
<section class="section3">
    <div class="wrapper">
        <div class="image-text">
            <div class="text1">
                <h2>Book an Appointment</h2>
                <a class="linkAsButton" href="#">Here</a>
            </div>
        </div>
    </div>
</section>

<!-- Section 4 -->
<section class="section4">
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
    <a class="linkAsButton" href="#">Donate</a>
</section>















@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@